{% extends 'temp/admin.html' %}
{% block base %}
	<form method="post">
    {% csrf_token %}
	<h1 align="center"  style="color:black;font-family:Times New Roman">Notification</h1>
<table align="center" style="color:black;font-family: Times New Roman;font-size: large;font-size: larger">
	<tr>
		<th>Date</th>
		<td>
			<input type="Date" name="Date" placeholder="Date" class="form-control"><br>
		</td>
	</tr>
	<tr>
		<th> Description</th>
		<td>
			<input type="text" name="Description" placeholder="Description"class="form-control" ><br>
		</td>
	</tr>
	
	
	<tr>
		<td></td>
		<td><input type="submit" name="" value="Send" class="btn btn-success"></td>
	</tr>
	</table>

</form>
{% endblock %}