
{% extends 'temp/admin.html' %}
{% block base %}

<form method ="post">
<h1 align="center" style='font-family: "Times New Roman";color: black;'><b>FEEDBACK </b></h1>
	<table align="center"style="column-rule-style: ridge;color: black" class="table-bordered"bgcolor="#f08080">
		<tr>
			<th style="color:darkred"><strong>DATE</strong></th>
            <th style="color: darkred"><strong> Feedback</strong></th>



		</tr>
        {% if objval %}
        {% for obj in objval %}
        <tr>
            <td><b><strong> {{ obj.date  }}</strong></b></td>

            <td><b><strong>{{ obj.feedback}}</strong></td>


        </tr>
        {% endfor %}
    {% endif %}

	</table>
</form>
{% endblock %}